# You must create custom environment variables beginning with REACT_APP_.
# Any other variables except NODE_ENV will be ignored to avoid accidentally exposing a private key on the machine that could have the same name.

REACT_APP_API_BASE_URL="http://localhost:3000"

PORT=9000
